{% extends "basic.html" %}
{% block content %}
{% if post_list %}
    {% for p in post_list %}
    <div class="post">
        <p>{{ p.post_content }}</p>
        <a href="{% url 'main:edit-post' pk=p.id %}">редактировать пост</a> <span> | </span>
        <a href="{% url 'main:delete-post' pk=p.id %}">удалить пост</a>
        <p>опубликовано: {{ p.pub_date|date:"d.m.Y H:i" }}</p>
        <p>{{ p.comment_count }} комментариев</p>
        <p>{{ p.like_count }} лайков</p>
        {% for comment in p.comment_set.all %}
            <p><strong>{{ comment.my_user.username }}</strong>: {{ comment.comment_text }}</p>
        <a href="{% url 'main:edit-comment' pk=comment.id %}">редактировать</a> <span> | </span>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="удалить" class="button"/>
        </form>
        {% empty %}
            <p>прокомментируйте этот пост первым</p>
        {% endfor %}

        <a href="{% url 'main:toggle_like' pk=p.pk %}">
                    {% if request.user in post.likes.all %}
                        Уже не нравится
                    {% else %}
                        Нравится
                    {% endif %}
                </a>

        <a href="{% url 'main:add-comment' pk=p.id %}">прокомментировать</a>
    </div>
    {% endfor %}

    {% if is_paginated %}
      <div class="pagination">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}
        <span class="current">
          страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">следующая</a>
        {% endif %}
      </div>
    {% endif %}

{% else %}
    <p>пусто :(</p>
{% endif %}
{% endblock %}
